PORT=1331
MONGO_URI=mongodb://127.0.0.1:27017/galaxy_db
NODE_ENV=development
JWT_SECRET=genera_uno_con_openssl_rand_base64_32

## AWS — IAM user con permisos: S3, Transcribe, Bedrock
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=galaxy-dictamenes-dev

## Redis
REDIS_URL=redis://localhost:6379
REDIS_HOST=localhost
REDIS_PORT=6379

## WAF (opcional)
WAF_IP_SET_NAME=
WAF_IP_SET_ID=
WAF_SCOPE=CLOUDFRONT
